<body>
	<div class="container">
		<div class="title">
			<h1>Thông tin nhân viên</h1>
		</div>

		<div class="content">
			<div class="content-infomation">
				<h2 style="color:#000066">{{staff.name}}</h2>
				<h3 style="font-style: italic">Sinh nhật : {{staff.birthday}}</h3>
				<h3 style="font-style: italic">Mã nhân viên: {{staff.code}}</h3>
			</div>

			<div class="content-detail">
				<div class="column-left">
					<div class="column">
						<label>Địa chỉ thường trú</label>
						<span><input type="text" value="{{staff.address}}" disabled=""></span>
					</div><br>
					<div class="column">
						<label>Số CMND/HC</label>
						<span><input type="number" value="{{staff.passportNumber}}" disabled=""></span>
					</div><br>
					<div class="column">
						<label>Nơi cấp CMND/HC</label>
						<span><input type="text" value="{{staff.placeOfIssue}}" disabled=""></span>
					</div><br>
					<div class="column">
						<label>Email</label>
						<span><input type="email" value="{{staff.email}}" disabled=""></span>
					</div><br>
					<div class="column">
						<label>Mã số thuế</label>
						<span><input type="number" value="{{staff.taxCode}}" disabled=""></span>
					</div><br>
					<div class="column">
						<label>Ngày bắt đầu thử việc</label>
						<span><input type="text" value="{{staff.startProbation}}" disabled=""></span>
					</div><br>
					<div class="column">
						<label>Ngày bắt đầu làm việc</label>
						<span><input type="text" value="{{staff.startWorking}}" disabled=""></span>
					</div><br>
					<div class="column">
						<label>Vị trí</label>
						<span><input type="text" value="{{staff.position}}" disabled=""></span>
					</div><br>
				</div>
				<div class="column-right">
					<div class="column">
						<label>Địa chỉ tạm trú</label>
						<span><input type="text" value="{{staff.temporary}}" disabled=""></span>
					</div><br>
					<div class="column">
						<label>Ngày cấp CMND/HC</label>
						<span><input type="text" value="{{staff.dateOfIssue}}" disabled=""></span>
					</div><br>
					<div class="column">
						<label>Số điện thoại</label>
						<span><input type="number" value="{{staff.phone}}" disabled=""></span>
					</div><br>
					<div class="column">
						<label>Số ATM</label>
						<span><input type="number" value="{{staff.atmNumber}}" disabled=""></span>
					</div><br>
					<div class="column">
						<label>Trình độ</label>
						<span><input type="text" value="{{staff.degree}}" disabled=""></span>
					</div><br>
					<div class="column">
						<label>Ngày kết thúc thử việc</label>
						<span><input type="text" value="{{staff.endProbation}}" disabled=""></span>
					</div><br>
					<div class="column">
						<label>Ngày kết thúc làm việc</label>
						<span><input type="text" value="{{staff.endWorking}}" disabled=""></span>
					</div><br>
					<div class="column">
						<label>Trạng thái</label>
						<span><input type="text" *ngIf="staff.lookStatus == 1 " value="Đang làm việc" disabled=""></span>
						<span><input type="text" *ngIf="staff.lookStatus == 0 " value="Đã nghỉ việc" disabled=""></span>
						<span><input type="text"  *ngIf="staff.lookStatus == 2 " value="Đang xem xét" disabled=""></span>
						<span><input type="text"  *ngIf="staff.lookStatus ==  0" value="Khác" disabled=""></span>
					</div><br>
				</div>
			</div>

			<div class="button">
				<button id="ignore">Bỏ qua</button>
				<button id="update">Sửa</button>
			</div>
		</div>
	</div>


</body>