<header>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</header>
<body>
	<div class="header">
		<h1>Thông tin tìm kiếm</h1>

		<div class="search">
			<div class="column-left">
				<div class="column">
					<label>Họ và tên</label>
					<span><input type="text"></span>
				</div><br>
			</div>
			<div class="column-center">
				<div class="column">
					<label>Vị trí ứng tuyển</label>
					<span><input type="text"></span>
				</div><br>
			</div>
			<div class="column-right">
				<div class="column">
					<label>Ngày ứng tuyển</label>
					<span><input type="text"></span>
				</div><br>
				
			</div>
		</div>

		<div class="button-search">
			<button >TÌM KIẾM</button>
		</div>
	</div>

	<div class="content">
		<div class="button-add">
			<button id="add">Thêm</button>
			<button id="out">Xuất</button>
		</div>
		
		<div class="content-detail">
			<table class="table">
				<thead>
					<tr>
						<th>STT</th>
						<th>Họ và tên</th>
						<th>Ngày ứng tuyển</th>
						<th>Vị trí ứng tuyển</th>
						<th>Người giới thiệu</th>
						<th>Email</th>
						<th>Số điện thoại</th>
						<th>Kết quả</th>
						<th>Ghi chú</th>
						<th>Link CV</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr >
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>
							<i class="fa fa-edit" id="edit"></i>
							<i class="fa fa-remove" id="delete"></i>
						</td>
					</tr>
				</tbody>
			</table>
		</div>  
		<div id="get-out">
			<button id="out">Xuất</button>
		</div>

		<div id="check-pages">
			<a href="#"><button class="pages-number">1</button></a>
			<a href="#"><button class="pages-number">2</button></a>
			<a href="#"><button class="pages-number">3</button></a>
			>>
		</div>
	</div>
</body>