<body>
	<div class="container">
		<div class="title">
			<h1>Thông tin nhân viên</h1>
		</div>

		<div class="content">
			<div class="content-infomation">
				<h2 style="color:#000066">Nguyễn Ngọc Thạch</h2>
				<h3 style="font-style: italic">Sinh nhật : 07/01/1996</h3>
				<h3 style="font-style: italic">Mã nhân viên: 1234567</h3>
			</div>

			<div class="content-detail">
				<div class="column-left">
					<div class="column">
						<label>Địa chỉ thường trú</label>
						<span><input type="text"></span>
					</div><br>
					<div class="column">
						<label>Số CMND/HC</label>
						<span><input type="number"></span>
					</div><br>
					<div class="column">
						<label>Nơi cấp CMND/HC</label>
						<span><input type="text"></span>
					</div><br>
					<div class="column">
						<label>Email</label>
						<span><input type="email"></span>
					</div><br>
					<div class="column">
						<label>Mã số thuế</label>
						<span><input type="number"></span>
					</div><br>
					<div class="column">
						<label>Ngày bắt đầu thử việc</label>
						<span><input type="text"></span>
					</div><br>
					<div class="column">
						<label>Ngày bắt đầu làm việc</label>
						<span><input type="text"></span>
					</div><br>
					<div class="column">
						<label>Vị trí</label>
						<span><input type="text"></span>
					</div><br>
				</div>
				<div class="column-right">
					<div class="column">
						<label>Địa chỉ tạm trú</label>
						<span><input type="text"></span>
					</div><br>
					<div class="column">
						<label>Ngày cấp CMND/HC</label>
						<span><input type="text"></span>
					</div><br>
					<div class="column">
						<label>Số điện thoại</label>
						<span><input type="number"></span>
					</div><br>
					<div class="column">
						<label>Số ATM</label>
						<span><input type="number"></span>
					</div><br>
					<div class="column">
						<label>Trình độ</label>
						<span><input type="text"></span>
					</div><br>
					<div class="column">
						<label>Ngày kết thúc thử việc</label>
						<span><input type="text"></span>
					</div><br>
					<div class="column">
						<label>Ngày kết thúc làm việc</label>
						<span><input type="text"></span>
					</div><br>
					<div class="column">
						<label>Trạng thái</label>
						<span><input type="text"></span>
					</div><br>
				</div>
			</div>

			<div class="button">
				<button id="ignore">Bỏ qua</button>
				<button id="update">Sửa</button>
			</div>
		</div>
	</div>


</body>