<header>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</header>
<body>
<div>
<table class="table">
	<thead>
		<tr>
			<th>STT</th>
			<th>Họ và tên</th>
			<th>Giới tính</th>
			<th>Ngày sinh</th>
			<th>Số điện thoại</th>
			<th>Email</th>
			<th>Trình độ</th>
			<th>Trạng thái</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td>thach</td>
			<td>1</td>
			<td>1</td>
			<td>1</td>
			<td>1</td>
			<td>1</td>
			<td>1</td>
			<td><a href="#"><button id="detail">Chi tiết</button></a>
				<a href="#"><i class="fa fa-edit" id="edit"></i></a>
				<a href="#"><i class="fa fa-remove" id="delete"></i></a>
			</td>
		</tr>
	</tbody>
</table>
</div>

<div id="get-out">
	<a href="#"><button id="out">Xuất</button></a>
</div>

<div id="check-pages">
	<a href="#"><button class="pages-number">1</button></a>
	<a href="#"><button class="pages-number">2</button></a>
	<a href="#"><button class="pages-number">3</button></a>
	>>
</div>
</body>