<body>
	<div class="container">
		<div class="title">
			<h1>SỬA HỒ SƠ</h1>
		</div>

		<div class="content">

			<div class="content-detail">
				<div class="column-left">
					<div class="column">
						<label>Họ và tên: <label style="color: red">*</label></label>
						<span><input [(ngModel)] ="managerStaffService.staff.name" /></span>
					</div><br>
					<div class="column">
						<label>Ngày ứng tuyển: <label style="color: red">*</label></label>
						<span><input [(ngModel)] ="managerStaffService.staff.ngayUngTuyen" /></span>
					</div><br>
					<div class="column">
						<label>Vị trí ứng tuyển: <label style="color: red">*</label></label>
						<span><input [(ngModel)] ="managerStaffService.staff.viTriUTuyen" /></span>
					</div><br>

					<div class="column">
						<label>Người giới thiệu: <label style="color: red">*</label></label>
						<span><input [(ngModel)] ="managerStaffService.staff.nguoiGThieu" /></span>
					</div><br>
					<div class="column">
						<label>Email: <label style="color: red">*</label></label>
						<span><input [(ngModel)] ="managerStaffService.staff.email" /></span>
					</div><br>
					<div class="column">
						<label>Số điện thoại: <label style="color: red" >*</label></label>
						<span><input [(ngModel)] ="managerStaffService.staff.phone" /></span>
					</div><br>
					<div class="column">
						<label>Kết quả: </label>
						<span>
							<select>
								<option value="">Đang kiểm duyệt</option>
								<option value="">Đã kiểm duyệt</option>
								<option value="">Khác</option>
							</select>
						</span>
					</div><br>

					<div class="column">
						<label>Ghi chú: </label>
						<span><input [(ngModel)] ="managerStaffService.staff.note" /></span>
					</div><br>
					<div class="column">
						<label>Link CV</label>
						<span><input [(ngModel)] ="managerStaffService.staff.link_cv" /></span>
					</div><br>

				</div>
			</div>

			<div class="button">
				
				<button id="add"  type="button" class="btn btn-info" (click)="edit()">Sửa</button>
				<button id="ignore" type="button" class="btn btn-info" (click)="next()">Bỏ qua</button>
			</div>
		</div>
	
</div>

</body>